html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.main-body{
    height: 100%;
    width: 100%;
}

h1{
    padding: 10px;
    text-align: center;
}

.color-display{
    border: 2px solid black;
    margin: 5% 10%;
    width: 60%;
    height: 40%;
    background: linear-gradient(0deg, rgba(0, 255, 0, 1), rgba(0, 255, 255, 1));
}


.color-selection{
    padding: 0% 10%;
}

.color-list{
    min-height: fit-content;
}

.color{
    display: flex;
    align-items: center;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
}

.color p{
    padding: 0 10%;
    font-size: 1.25em;
}

.selected-color{
    height: 35px;
    border-width: 5px;
}

.color h3{
    padding-left: 5px;
}
.color-sample{
    display: inline-block;
    background-color: black;
    height: 28px;
    width: 28px;
}