html,
body {
  font-family: Geneva, Verdana, Tahomj sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1.5rem;
  background-color: rgb(255, 255, 255);
}

input {
  padding: 4px;
  border: 0;
  box-shadow: 0px 0px 4px rgb(167, 167, 167);
  border-radius: 5px;
}

h3 {
  margin: 0;
  padding: 8px 0px 3px 0px;
  text-align: center;
}

.main-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.main-background {
  border: 1px solid rgb(95, 83, 83);
  border-radius: 4px;
  padding: 7px;
  box-shadow: 2px 1px 3px rgb(161, 160, 160);
  background-color: #f4f4f4;
}

.selection-display {
  border: 2px solid black;
  width: 100vw;
  min-height: 300px;
}

.body-columns {
  display: grid;
  gap: 30px 0px;
  width: 95%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(80px, 1fr);
  padding: 30px;
  align-items: center;
}

.gradient-type {
  padding: 7px 20px;
  width: max-content;
  justify-self: center;
}

.radial-options {
  text-align: start;
}

.color-input {
  justify-items: center;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.color-input > label:first-child {
  grid-column: 1 / span 6;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
  justify-self: center;
  padding: 10px;
}

.color-input > label:nth-child(n + 2):nth-child(-n + 4) {
  grid-column: span 2;
}

.color-input > label:nth-child(n + 5) {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.color-input > label:nth-child(2) {
  box-shadow: 2px 1px 3px rgb(255, 0, 0);
  max-width: 80px;
}

.color-input > label:nth-child(3) {
  box-shadow: 2px 1px 3px rgb(0, 255, 0);
  max-width: 80px;
}

.color-input > label:nth-child(4) {
  box-shadow: 2px 1px 3px rgb(0, 0, 255);
  max-width: 80px;
}

.color-list {
  width: 90%;
  padding: 10px;
  margin: 0;
  min-height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.add-color-button {
  width: 50px;
  background-color: rgb(150, 150, 150);
  border: 1px solid rgb(48, 48, 48);
  box-shadow: 2px 2px 5px black;
  color: rgb(0, 0, 0);
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
}

.add-color-button:hover {
  background-color: rgb(204, 204, 204);
}

.color {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
}

.selected-color {
  height: 35px;
  border-width: 5px;
}

.color p {
  padding: 0 10%;
  font-size: 1.25em;
}

.color h3 {
  padding-left: 5px;
}

.color-sample {
  display: inline-block;
  background-color: #000000;
  height: 28px;
  width: 28px;
}

.delete-color-button {
  background-color: rgb(231, 0, 0);
  color: rgb(0, 0, 0);
}
