html, body {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.main-body{
    width: 100%;
    height: 100%;
}

h1{
    padding: 10px;
    text-align: center;
}

.color-display{
    border: 2px solid black;
    margin: 5% 10%;
    width: 80%;
    height: 60%;
    background: rgba(0, 255, 0, 1)
}

.color-entry{
padding: 0% 10%;
}

.color-number{

}
